
<div class="container-fluid">
	<div class="row">
		<div class="page-header">
			<h1>
				<i class="fa fa-calculator"></i>
				Mortgage Calculator
				<small>a UTSC demonstration</small>
			</h1>
		</div>
	</div>

	<div class="well col-md-4">
		<h3 style="margin-top:0px;">
			<i class="fa fa-pencil-square-o"></i>
			Please fill in here	
		</h3>

		<div class="form-group">
			<%= label_tag :loan_amount %>
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<%= text_field_tag :loan_amount, 20000, 'ng-model'=>'loanAmount', :class=>'form-control', :placeholder=>'Please enter mortgage amount' %> 
			</div>
		</div>

		<div class="form-group">
			<%= label_tag :annual_interest_rate %>
			<div class="input-group">
				<%= text_field_tag :annual_interest_rate, nil, 'ng-model'=>'annualInterestRate', :class=>'form-control', :placeholder=>'Please enter nominal annual rate' %> 
				<span class="input-group-addon">%</span>
			</div>
			<%= range_field_tag :annual_interest_rate, nil, 'ng-model'=>'annualInterestRate', 'ng-change'=>'createTable()', :min=>0, :max=>20, :step=>0.01 %>
		</div>

		<div class="form-group">
			<%= label_tag :term_of_loan %>
			<div class="input-group">
				<%= text_field_tag :term_of_loan, nil, 'ng-model'=>'termOfLoan', :class=>'form-control', :placeholder=>'Please enter number of years' %>
				<span class="input-group-addon">Years</span>
			</div>	
			<%= range_field_tag :term_of_loan, nil, 'ng-model'=>'termOfLoan', 'ng-change'=>'createTable()', :min=>1, :max=>50, :step=>1 %>
		</div>

		<div class="form-group">
			<%= label_tag :first_payment_date %>
			<%= date_field_tag :first_payment_date, nil, 'ng-model'=>'firstPaymentDate', :class=>'form-control' %>
		</div>

				<div class="row">
					<div class="col-md-6">				
						<div class="form-group">
							<i class="fa fa-info-circle has-popover" data-container="body" data-toggle="popover" data-placement="top" title="Payment Frequency" data-content="Basic amortization calculators usually assume that the payment frequency matches the compounding period. In that case, the rate per period is simply the nominal annual interest rate divided by the number of periods per year. When the compound period and payment period are different (as in Canadian mortgages), a more general formula is needed."></i>
							<%= label_tag :payment_frequency %> <br>
							<%= radio_button_tag(:payment_frequency, 24, nil,'ng-model'=>'paymentFrequency', 'ng-change'=>'createTable()') %>
							<%= label_tag(:payment_frequency, "Bi-weekly") %> <br>
							<%= radio_button_tag(:payment_frequency, 12, nil, 'ng-model'=>'paymentFrequency', 'ng-change'=>'createTable()') %>
							<%= label_tag(:payment_frequency, "Monthly") %> <br>
							<%= radio_button_tag(:payment_frequency, 6, nil, 'ng-model'=>'paymentFrequency', 'ng-change'=>'createTable()') %>
							<%= label_tag(:payment_frequency, "Semi-annually") %> <br>
							<%= radio_button_tag(:payment_frequency, 1, nil, 'ng-model'=>'paymentFrequency', 'ng-change'=>'createTable()') %>
							<%= label_tag(:payment_frequency, "Annually") %>
						</div>
					</div>
				
					<div class="col-md-6">				
						<div class="form-group">
							<i class="fa fa-info-circle has-popover" data-container="body" data-toggle="popover" data-placement="top" title="Compound Period" data-content="Basic amortization calculators usually assume that the payment frequency matches the compounding period. In that case, the rate per period is simply the nominal annual interest rate divided by the number of periods per year. When the compound period and payment period are different (as in Canadian mortgages), a more general formula is needed."></i>
							
							<%= label_tag :compound_period %> <br>
							<%= radio_button_tag(:compound_period, 24, nil,'ng-model'=>'compoundPeriod', 'ng-change'=>'createTable()') %>
							<%= label_tag(:compound_period, "Bi-weekly") %> <br>
							<%= radio_button_tag(:compound_period, 12, nil, 'ng-model'=>'compoundPeriod', 'ng-change'=>'createTable()') %>
							<%= label_tag(:compound_period, "Monthly") %> <br>
							<%= radio_button_tag(:compound_period, 6, nil, 'ng-model'=>'compoundPeriod', 'ng-change'=>'createTable()') %>
							<%= label_tag(:compound_period, "Semi-annually") %> <br>
							<%= radio_button_tag(:compound_period, 1, nil, 'ng-model'=>'compoundPeriod', 'ng-change'=>'createTable()') %>
							<%= label_tag(:compound_period, "Annually") %> 
						</div> 
					</div>
				</div> <!-- row -->
		</div> <!-- well -->

	<div class="row">	
		<div class="col-md-3	">
			<h3>
				<i class="fa fa-clipboard"></i>
				Mortgage Summary
			</h3>
			<table class="table table-hover">
					<tr>
						<th>Number of payments:</th>
						<td><input type="text" value="{{getNumberOfPayments()}}", readonly="true"></td>
					</tr>
					<tr>
						<th><i class="fa fa-info-circle paymentCalc" data-container="body" data-toggle="popover" data-placement="top"></i>Rate (per period):</th>
						<td><input type="text" value="{{getRatePerPeriod()|number:6}}", readonly="true"></td>
					</tr>
					<tr>
						<th><i class="fa fa-info-circle interestCalc" data-container="body" data-toggle="popover" data-placement="top"></i>Payment Amount:</th>
						<td><input type="text" value="{{getPaymentPerPeriod()|currency:$:2}}", readonly="true"></td>
					</tr>
					<tr>
						<th>Total payment:</th>
						<td><input type="text" value="{{totalPayment|currency:$:2}}", readonly="true"></td>
					</tr>
					<tr>
						<th>Total interest:</th>
						<td><input type="text" value="{{totalInterest|currency:$:2}}", readonly="true"></td>
					</tr>
					<tr>
						<th>Last payment date:</th>
						<td><input type="text" value="{{paymentDate| date: 'MM/dd/yyyy'}}", readonly="true"></td>
					</tr>
			</table>
		</div> <!-- col4 -->
		<div id="pie" class="col-md-4"></div>
	</div> <!-- row -->
		
	<div role="tabpanel">
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#table" aria-controls="table" role="tab" data-toggle="tab">Table</a></li>
	    <li role="presentation"><a href="#chart" aria-controls="chart" role="tab" data-toggle="tab">Chart</a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="table">
				<div class="col-md-10">
						<div class="row page-header">
							<h1 style="margin-top:0px;">
								<i class="fa fa-table"></i>
								Amortization table
							</h1>
						</div>
						<table class="table table-condensed table-hover">
							<thead>	
								<tr>
									<th>Sequence</th>
									<th>Due date</th>
									<th>Payment Amount</th>
									<th>Interest</th>
									<th>Principal</th>
									<th>Balance</th>
								</tr>
							</thead>
							<tbody>	
								<tr ng-repeat="amortizationRow in amortizationRows">
									<td>{{amortizationRow.index}}</td>
									<td>{{amortizationRow.date| date: 'MM/dd/yyyy'}}</td>
									<td>{{amortizationRow.payment|currency:$:2}}</td>
									<td>{{amortizationRow.interest|currency:$:2}}</td>
									<td>{{amortizationRow.principal|currency:$:2}}</td>
									<td>{{amortizationRow.balance|currency:$:2}}</td>
								</tr>
							</tbody>
						</table>
					</div>	
	   	</div>
	   	<!-- second tab -->
	    <div role="tabpanel" class="tab-pane" id="chart">
	    	<div class="col-md-10">	
					<div class="row page-header">
						<h1 style="margin-top:0px;">
							<i class="fa fa-bar-chart"></i>
							Amortization chart
						</h1>
					</div>
	    		<div id="container" style="width:100%; height:400px;"></div>
	    	</div>
	    </div>
	  </div>
	</div> <!-- tab -->










